
.vs/CMake Overview

.vs/cmake.db

.vs/ProjectSettings.json

.vs/RpdSource/FileContentIndex/0e7dc5fb-6512-4bd3-bab7-5a18575da3d3.vsidx

.vs/RpdSource/FileContentIndex/13e904aa-9cfb-4cbe-b61b-6f8329a6d0f9.vsidx

.vs/RpdSource/FileContentIndex/67dba041-e0c2-4eed-9353-d68f43b60397.vsidx

.vs/RpdSource/FileContentIndex/ebd8841e-d06e-4b5d-924a-7ec8401de395.vsidx

.vs/RpdSource/FileContentIndex/read.lock

.vs/RpdSource/v17/.wsuo

.vs/RpdSource/v17/Browse.VC.db

.vs/RpdSource/v17/workspaceFileList.bin

.vs/slnx.sqlite

.vs/VSWorkspaceState.json
